.carousel{
    @include flex(space-between, row);
    width: 100%;
    height: 100vh;
    background-color: #483535;
    button{
        width: 3.5rem;
        height: 2rem;
        background-color: transparent;
        color: grey;
        border: none;
        
    }
}

.packlist{
    width: 90vw;
    height: 75vh;
    padding-top: 10vh;
}

.samples{
    @include flex(space-evenly, row);
}

.sample-pack{
    width: 15vw;
    height: 15vw;
    border: solid 2px #483535;
    .sample-icon{
        overflow: hidden;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .sample-icon-img{
        height: 2rem;
        margin: 0 -0.5rem;

    }
}

*{
    text-decoration: none;
}